<h2 mat-dialog-title>{{ this.description }}</h2>

<mat-dialog-content [formGroup]="this.form">
  <mat-form-field>
    <input
      matInput
      formControlName="description"
      placeholder="Course Description"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Select Category" formControlName="category">
      <mat-option value="BEGINNER">Beginner</mat-option>
      <mat-option value="INTERMEDIATE">Intermediate</mat-option>
      <mat-option value="ADVANCED">Advanced</mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="this.close()">
    Close
  </button>
</mat-dialog-actions>
